ion-refresher {
    z-index: 10;
}
#post .item ion-icon{
    height: 18px;
}
#post .item ion-item-divider{
    border-bottom: 0;
}
#post .item .info{
    padding-top: 3px;
    font-size: 11px;
}
#post .content {
    font-size: 14px;
    margin: 2px 0px 10px 0px;
}
#post .unread {
    border-left: 3px solid  #fae2e5;
}