ion-refresher {
    z-index: 10;
}
#post .item-group-md {
    margin-bottom: 4px;    
}
#post ion-list {
    padding-top: 0px; 
    background-color: #d3d2d2;
}
#post .item ion-icon{
    height: 18px;
}
#post .item ion-item-divider{
    border-bottom: 0;
}
#post .item .info{
    padding-top: 2px;
    font-size: 11px;
}
#post .title{
    color: #0861fa;
    font-weight: 600;
    white-space: normal;
}
#post .content {
    font-size: 14px;
    margin: 2px 0px 10px 0px;
}
#post .avatar {
    margin-right: 8px;
}
#post .unread {
    color:#ff9393;
}
#post .footer {
    --min-height: 30px;
}
#post .username {
    font-size: 12px;
    font-weight: 600;
}
#post .footer ion-col {
    white-space: nowrap;
    margin: 0px;
    font-size: 11px;
    color: #999999;    
}