ion-refresher {
    z-index: 10;
}
#post .post-item ion-icon{
    height: 18px;
}
#post .post-item ion-item-divider{
    border-bottom: 0;
}
#post .post-content {
    font-size: 14px;
    margin: 2px 0px 10px 0px;
}